.aboutcontent{
  height: 60vh;
  width: 100%;
}
.aboutcontent h1{
  font-size: 60px;
}
@media (min-width:450px) and (max-width:750px) {
  .aboutcontent h1{
    font-size: 30px;
    margin-top: 25%;
  }
}
@media (min-width:900px) and (max-width:991px){
  .aboutcontent h1{
    margin-top: 15%;
  }

}
@media (min-width:750px) and (max-width:900px){
  .aboutcontent h1{
    margin-top: 15%;
    font-size: 50px;
  }

}